@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    width: 1321px;
    margin: auto;
}
li{
    list-style: none;
}

@keyframes sliding {
    0%{
        background-color: #566573;
    }
    100%{
        background-color: #839192;
    }

    
}

.hero{
    animation: sliding 4s ease-in-out .5s infinite alternate;
    animation-play-state: running;
    position: relative;
    /* background-color: aqua; */
}
/*   =====================================
          header section style  
     =====================================   */

.hero{
    display: flex;
    background-color: #161616;
    align-items: center;
    border-radius: 30px;
    margin-top: 50px;
}
.half-width{
    width: 50%;
}
.hero-tittle{
    font-size: 50px;
    font-weight: 700;
    color: #FFFFFF;
    padding-left: 111px;
}

.half-width p{
    color: #FFFFFF;
    font-size: 16px;
    margin: 20px 0;
    padding-left: 111px;
}

.tooltip{
    visibility: hidden;
    position: absolute;
}
.mini-mini{
    width: 100%;
    overflow: hidden;
    overflow-x: none;
    
}
.short-txt{
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hero-btn{
    margin-left: 111px;
    color: #FFFFFF;
    font-size: 20px;
    background-color: #DD0000;
    padding: 16px 25px;
    border-radius: 5px;
    line-height: 75px;
    align-items: center;
    
}



.hero-btn i{
    color: #FFFFFF;
    font-size: 20px;
}
.fa-angle-right{
    color: #FFFFFF;
    font-size: 24px;
    
}
.half-width img{
    width: 100%;
    padding-left: 25px;
    margin-top: 33px;
}


/* ==================================
        blog section style  
   ==================================  */

.details{
    display: flex;
    margin-top: 100px;
}

.detail{
    width: 452px;
    height: 312px;
    background-color: #161616;
    border-radius: 10px;
    margin-right: 20px;
}
.detail ul{
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
}
.detail li{
    background-color: #FFFFFF;
    width: 85%;
    margin-bottom: 20px;
    text-align: center;
    padding: 17px 0px;
    border-radius: 10px;
    
}
.detail a{
    font-size: 20px;
    font-weight: 600;
    color: #161616;
}


.articels{
    display: grid;
    width: 100%;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
}

.blog{
    border-radius: 10px;
    box-shadow: 1px 1px 11px 3px rgba(0,0,0,0.68);
-webkit-box-shadow: 1px 1px 11px 3px rgba(0,0,0,0.68);
-moz-box-shadow: 1px 1px 11px 3px rgba(0,0,0,0.68);
}

.blog-info{
    padding: 20px;
}

.transfer{
    padding: 4px 17px;
}
h3{
    font-size: 18px;
    margin: 20px 0;
}

.blog-icon span{
    margin-right: 30px;
}
#blogs{
    background-color: #DD0000;
}

#blogs a{
    color: #FFFFFF;
}
.thumbnail img{
    width: 100%;
}

.thumbnail-1{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    width: 320px;
}
.thumbnail-1 img{
    /* width: 100%; */
    margin: 0 30px;
}

.see-more{
    font-size: 20px;
    padding: 12px 30px;
    background-color: #DD0000;
    color: white;
    border-radius: 5px;
    line-height: 90px;
    margin-left: 40%;
    display: none;
}

.germany{ 
    text-align: center;
    font-size: 20px;
    color: #161616;
}
.france{
    text-align: center;
    font-size: 16px;
    color: #4D4D4D;
}


/* footer section style  */
.last-sec{
    background-color: #161616;
    color: #FFFFFF;
    margin-top: 130px;
}
.footerH2{
    font-size: 40px;
    text-align: center;
    padding-top: 130px;
    padding-bottom: 50px;
}
.fotter{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    color: #B9B9B9;
}

.social-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    padding-bottom: 40px;
}
.social-icon i{
    padding: 0 10px;
}
.social-icon a{
    color: #FFFFFF;
}

/* =======================================================
             Responsive Design for Tab View
   =======================================================  */

@media only screen and (min-width: 673px) and (max-width: 990px){
    .container{
        width: 100%;
        padding: 25px;
    }
    .hero{
        width: 95%;
    }
    .hero-tittle{
        font-size: 25px;
        padding-left: 30px;
        margin-top: 30px;
    }
    .half-width p{
        padding-left: 30px;
        margin-bottom: -2px;
    }
    .long-txt{
        display: none;
    }
    
.tooltip{
    visibility: visible;
    position: relative;
}
    .hero-btn{
        margin-left: 30px;
        font-size: 18px;
        padding: 12px;
        /* line-height: 60px; */
    }
    .fa-angle-right{
        color: #FFFFFF;
        font-size: 20px;
        
    }

    .half-width img{
        width: 70%;
        margin-left: 40px;
        margin-top: 13px;
    }


    /* blog section  */
    .details{
        flex-direction: column;
        margin-top: 30px;
        width: 95%;
    }      
    .detail{
        width: 90%;
        background-color: #FFFFFF;  
        height: 120px;
    }
    .detail ul{
       display: flex;
        flex-direction: row;
     
    }
    .detail li{
        border: 1px solid #E8E8E8;
    }
    .articels{
        grid-template-columns: repeat(2, 1fr);
    }

  .see-more{
    display: inline;
  }
  .thumbnail-1{
    width: 100%;
    justify-content: space-between;
}



  /* footer section style  */
    .last-sec{
        margin-top: 70px;
    }
    .footerH2{
        font-size: 40px;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .fotter{
        padding: 50px;
        grid-template-columns: repeat(4, 1fr);
        text-align: center;
        grid-row-gap: 40px;
    }

    hr{
        width: 90%;
    }


}


/* =======================================================
             Responsive Design for Mobile View
   =======================================================  */

@media screen and (max-width: 672px) {
    .container{
        width: 100%;
        padding: 15px;
    }
    .hero{
        flex-direction: column;
        margin-top: 50px;
        width: 93%;
        /* margin: 10px; */
    }
    .half-width{
        width: 100%;
        text-align: center;
    }
    .hero-tittle{
        font-size: 30px;
        padding: 10px;
    }

    .half-width p{
        padding: 15px;
    }
    .hero-btn{
        margin: auto;
        font-size: 20px;
        padding: 8px 12px;
    }

    .half-width img{
        width: 100%;
        text-align: center;
        padding-left: 0px;
        margin-top: 20px;
    }


    /* blog section  */
    .details{
        flex-direction: column;
        margin-top: 30px;
        width: 93%;
    }      
    .detail{
        width: 90%;
        background-color: #FFFFFF;  
        height: 312px;
    }
    .detail ul{
    display: flex;
        flex-direction: column;
    
    }
    .detail li{
        border: 1px solid #E8E8E8;
    }
    .articels{
        grid-template-columns: repeat(1, 1fr);
    }

    .thumbnail-1{
        width: 100%;
        justify-content: space-between;
    }


    /* footer section style  */
    .last-sec{
        margin-top: 70px;
    }
    .footerH2{
        font-size: 40px;
        text-align: center;
        padding-top: 70px;
        padding-bottom: 30px;
    }
    .fotter{
        padding: 0px;
        grid-template-columns: repeat(1, 1fr);
        text-align: center;
        grid-row-gap: 40px;
        margin: 30px 0;
    }
    hr{
        width: 65%;
    }


}